<!DOCTYPE html>
<html>
<head>
    <title>Hidden Fields Form</title>
</head>
<body>
    <form id="hiddenForm" action="submit_action.php" method="post">
        <!-- Hidden Input Fields -->
        <input type="hidden" name="field1" value="Hidden Field 1 Value">
        <input type="hidden" name="field2" value="Hidden Field 2 Value">
        <input type="hidden" name="field3" value="Hidden Field 3 Value">
        
        <!-- Button to Submit the Form -->
        <input type="submit" value="Submit">
    </form>
</body>
</html>